{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} shop page {% endblock %}

</head>
<body>
    
    {% block hero %}
    {% endblock %}
    <br><br>
    <!-- product section  -->
    {% block product %}
	<!-- cart -->
    <div class="product-section">
        <div class="product-heading">
          <h2>Our Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
       </div><br><br>
       
       <div class="row">
        {% if mobiles %}
        {% for mobile in mobiles %}
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
            <a href="{% url 'singleproduct' mobile.id %}"><img src="{{mobile.image.url}}" alt="product image"></a>
    
            </div>
            <h3>{{mobile.name}}</h3>
            <p class="single-product-description">{{mobile.description}}</p>
            <p>{{mobile.id}}</p>

            <!-- add to cart  -->
            <form action="/cart">
							<input type="hidden" name="mobile_id" value="{{ mobile.id }}" id="mobile_id">
							<button type="submit" class="btn btn-primary shadow px-5 py-2 ">Add to Cart</button>
						</form>

        </div><br>
      </div>
      {% endfor %}
      {% endif %}
	<!-- end cart -->
      {% endblock %}

    
</body>
</html>

